
# Ilay Toobian
Age: 12
Hobbies:
- Playing Minecraft
- Watching movies
- Learning Python

In [17]:

print("Hello World!")
print("Ilay Toobian")
print("I am 12 years old")

Hello World!
Ilay Toobian
I am 12 years old

In [18]:

result = 3 * 7 + 10
# Print the result
print(result)

31

In [19]:

my_age = 12
friend_age = 14
total = my_age + friend_age
difference = abs(my_age - friend_age)
print("The sum is:", total)
print("The difference is:", difference)

The sum is: 26
The difference is: 2

In [20]:

name = "Ilay Toobian"
age = 12
"and I am", age, "years old"
print("My name is", name, "and I am", age, "years old")

print(f"My name is {name} and I am {age} years old")

My name is Ilay Toobian and I am 12 years old
My name is Ilay Toobian and I am 12 years old

In [21]:

power = 2**10
print("2 to the power of 10 =", power)

division = 50 // 7
print("50 divided by 7 (integer) =", division)

remainder = 50 % 7
print("The remainder is:", remainder)

2 to the power of 10 = 1024
50 divided by 7 (integer) = 7
The remainder is: 1

In [22]:

user_name = input("What is your name? ")
user_age = int(input("How old are you? "))

years_to_100 = 100 - user_age

print(f"Hello {user_name}! You will turn 100 in {years_to_100} years.")

Hello ilay ! You will turn 100 in 87 years.

In [23]:

bill = float(input("Enter the total bill amount: $"))
tip_percentage = float(input("Enter tip percentage (10, 15, or 20): "))

tip = bill * tip_percentage / 100
total_amount = bill + tip

print(f"Tip amount: ${tip:.2f}")
print(f"Total amount to pay: ${total_amount:.2f}")

Tip amount: $282.48
Total amount to pay: $2636.48

In [24]:

celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = celsius * 9/5 + 32

print(f"{celsius}째C is equal to {fahrenheit}째F")
13

34.0째C is equal to 93.2째F

13

In [ ]:

age = int(input("Enter your age in years: "))

days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

seconds_lived = age * days_in_year * hours_in_day * minutes_in_hour * seconds_in_minute

print(f"You have lived approximately {seconds_lived:,} seconds.")

You have lived approximately 409,968,000 seconds.